<h1>Generate Short Link</h1>

  <%= form_with model: @link, html: { id: 'link_form', data: { remote: true } } do |form| %>
    <%= form.text_field :url%>
    <%= form.submit "Create" %>
  <% end %>
  <br>
  <div id="short_link"> </div>



